.news-controls {
  float: right;
  .ui-link {
    font-size: 1em;
  }
}

.news-title > .ui-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.news-title {
  margin-bottom: 0;
}

.news-minorinfo {
  color: #999;
  font-size: 0.75em;
  margin-bottom: 1.25em;
}
