/* Paginagor */
.paginator {
  padding-top: 8px;
  overflow: auto;
  position: relative;
  height: 58px;
  >.left, >.right, >.mid{
    position: absolute;
    top: 8px;
  }
  >.mid {
    width: 12em;
    left: 50%;
    margin-left: -6em;
  }
  >.left {
    position: static;
  }
  >.right {
    right: 0;
  }
  .ui-btn.ui-btn-icon-right, .ui-btn.ui-btn-icon-left {
    margin: 0;
  }
}
@media all and (min-width: 700px) {
  .paginator .mobile-only { display: none; }
  .paginator .desktop-only { display: block; }
  .paginator {
    >.left, >.right {
      width: 8em;
    }
  }
}
@media all and (max-width: 699px) {
  .paginator .mobile-only { display: block; }
  .paginator .desktop-only { display: none; }
}
@media all and (max-width: 35em) {
  .paginator > .right { margin-right: 8px; }
  .paginator > .left { margin-left: 8px; }
}
