@import "compass";


$accepted-cell-color: #AEA;
$tried-cell-color: #EAA;
$pending-cell-color: #AAE;


#standings-submissions-panel {
  .verdict.ui-link {
	font-weight: normal;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	display: inline;
  }
  input[type="checkbox"] {
	left: 0;
	position: relative;
  }
}


.standings-container {
  > h2 {
    text-align: center;
    margin-bottom: 0;
  }
  .time {
	margin: .5em 0;
    text-align: center;
  }
}


.standings-user-type-filter {
  text-align: center;
  margin: 8px 0;
  fieldset {
	display: inline-block;
  }
}


.frozen-sign {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 18px;
  height: 18px;
  color: white;
  background-color: #3333AA;
  text-shadow: none;
  padding: 0 10px;
  @include border-radius(3px);
}


.standings-container.superuser-mode table.standings {
  td.accepted-cell, td.tried-cell, td.pending-cell {
    cursor: pointer;
  }
  td.accepted-cell:hover {
    background-color: lighten($accepted-cell-color, 5%);
  }
  td.tried-cell {
    &:hover { background-color: lighten($tried-cell-color, 5%); }
  }
  td.pending-cell {
    &:hover { background-color: lighten($pending-cell-color, 5%); }
  }
  .superuser-only {
    display: block;
  }
}


.standings-table-container > table.standings {
  width: 100%;
  border-collapse: collapse;
  th, td {
    text-align: center;
    border: 1px solid #EEE;
  }
  .pcell {
    height: 40px;
    width: 70px;
  }
  .accepted-cell {
    background-color: $accepted-cell-color;
    .r2 {
      font-size: 10px;
      color: #999;
    }
  }
  .tried-cell {
    background-color: $tried-cell-color;
    text-shadow: 0 1px #CCC;
  }
  .pending-cell {
    background-color: $pending-cell-color;
    text-shadow: 0 1px #CCC;
  }
  .superuser-only {
    display: none;
  }
  .individual {
	font-weight: bold;
	color: cornflowerblue;
  }
  .team {
	font-weight: bold;
	color: green;
  }
  .monthly-a:before, .monthly-b:before, .monthly-c:before, .monthly-d:before {
	color: #CCC;
	font-size: 0.6em;
	vertical-align: middle;
  }
  .monthly-a:before { content: "[A] ";}
  .monthly-b:before { content: "[B] ";}
  .monthly-c:before { content: "[C] ";}
  .monthly-d:before { content: "[D] ";}
  .user-cell {
	width: 20em;
  }
  .rank-cell {
	width: 3em;
  }
}


table.standings > tbody > tr.shadow {
  >td {
    color: #CCC;
  }
  td.accepted-cell { background-color:lighten($accepted-cell-color, 10%); }
  td.tried-cell { background-color:lighten($tried-cell-color, 10%); }
  td.pending-cell { background-color:lighten($pending-cell-color, 10%); }
}
