table {
  border-collapse: collapse;
  td, th {
    padding: 5px 5px;
  }
}

table.full {
  width: 100% 
}

table.center-aligned {
  th, td {
    text-align: center;
  }
}


.footnote {
  color: #AAA;
  font-size: 0.75em;
}


.hidden {
  display: none;
}


.clear {
  clear: both;
}


.nomargin, .ui-controlgroup.nomargin {
  margin: 0;
}
