/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "./components/utils";
@import "./components/paginator";
@import "./components/standings";
@import "./components/problemset";
@import "./components/contests";
@import "./components/news";


.info-list {
	list-style: none;
	padding-left: 0;
}


.global-nav {
	margin-bottom: 2em;
}


.mobile-only, .desktop-only { display: none; }


.ui-table-reflow.ui-responsive {
	display: table;
}


.ui-content {
	padding-left: 0;
	padding-right: 0;
}


.ui-footer {
	padding-bottom: 12px;
}


hr {
	border-top: 1px solid #ccc;
	border-bottom: 0;
	margin: 12px 0;
}


/** Utility Classes */
.errorbox, .messagebox {
	padding: 10px;
	@include border-radius(5px);
	margin-bottom: 12px;
	h4 {
		margin: 5px 0;
	}
}
.errorbox {
	border: 1px solid #F00;
	background-color: #FDD;
	.errorlist {
		font-size: 14px;
		margin: 0;
	}
}
.messagebox {
	border: 1px solid #CCF;
	background-color: #EEF;
	.messagelist {
		font-size: 14px;
		margin: 0;
	}
}
.ui-table.mini-table {
	td, th {
		padding: 0;
	}
}
col.submit {
	width: 80px;
}


/* General Form Style */
div.help_text {
	font-size: 14px;
	color: #AAA;
	text-align: right;
}

#id_code, textarea.code {
	height: 300px;
	max-height: 300px;
	font-family: "Menlo", "Monaco", "Consolas", "Courier", "Courier New", monospace;
}


/* Problem Text Box */
.problem-text-box {
	border: 1px solid #eee;
	@include border-radius(5px);
}


/* Contest Status */
.c-status-running {
	font-weight: bold;
	color: red;
}
.c-status-scheduled {
	color: cornflowerblue;
}
.c-status-ended {
	color: #999;
}


/* in-Contest navigation */
.in-contest-nav {
	margin: 16px 0;
	.ui-link {
		display: inline-block;
		margin-right: 15px;
		text-decoration: none;
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		}
	}
}
.page-contest-detail .link-dashboard,
.page-contest-submit .link-submit,
.page-contest-submissions .link-submissions,
.page-contest-clarifications .link-clarifications,
.page-standings .link-standings
{
	color: #AAF;
	&:visited { color: #AAF; }
}


.not-replied {
	color: #BBB;
	font-size: 12px;
	font-style: italic;
}


/* Nav Panels */
/* Make shadow on reveal nav menu */
.ui-panel-display-reveal {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open {
	-webkit-box-shadow: -5px 0 5px rgba(0,0,0,.10);
	-moz-box-shadow: -5px 0 5px rgba(0,0,0,.10);
	box-shadow: -5px 0 5px rgba(0,0,0,.10);
}


/*Verdicts */
.ui-link.verdict, span.verdict {
	color: red;
	&:visited, &:hover { color: red; }
}
.ui-link.verdict.verdict-accepted, span.verdict.verdict-accepted {
	font-weight: bold;
	color: cornflowerblue;
}
.ui-link.verdict.verdict-waiting, span.verdict.verdict-waiting {
	color: #AAA;
}


@media all and (max-width: 35em) {
	.mobile-only {
		display: block;
	}
	label.ui-select, label.ui-input-text {
		margin-bottom: 2px;
		margin-top: 14px;
		font-size: 14px;
	}
	div.ui-input-text, div.ui-select>div {
		margin-top: 0;
	}
	.ui-table-columntoggle-btn {
		margin-right: 10px;
	}
	div.haspadding {
		padding-left: 15px;
		padding-right: 15px;
	}
}


/* Desktop Styles */
@media all and (min-width: 35.1em) {
	.desktop-only {
		display: block;
	}
	.desktop-form, .desktop-fixed-width {
		width: 35em;
		margin: auto;
	}
	.ui-btn.desktop-button {
		display: inline-block;
	}

	.ui-dialog-contain {
		max-width: 800px;
	}
	.ui-header {
		@include box-shadow(0 2px 5px rgba(0,0,0,0.2));
		position: relative;
		.ui-title {
			font-size: 32px;
			font-family: Helvetica, Arial, sans-serif;
			font-weight: bold;
			text-align: left;
			margin: 25px 0;
		}
		.ui-btn-right {
			position: absolute;
			top: auto;
			right: 100px;
			top: 32px;
		}
		.ui-btn-left {
			top: 32px;
			left: 40px;
		}
	}
	.ui-content, .ui-header, .ui-footer {
		padding-left: 100px;
		padding-right: 100px;
	}
	.ui-bar-a {
		background: none;
		font-size: 10px;
		color: #333;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
		border: 0;
	}
	label.ui-input-text, label.ui-select {
		font-size: 12px;
		line-height: 1;
	}
	form {
		.label, .field {
			display: table-cell;
			vertical-align: middle;
		}
		.help_text {
			padding-left: 10em;
		}
		.desktop-form div.ui-checkbox {
			position: relative;
			left: 10em;
		}
		.label { width: 10em; }
		.fieldset {
			display: table-row;
		}
	}
	.desktop-fixed-width {
		form {
			.field { width: 25em; }
		}
	}
}

#djDebug {
	text-shadow: none;
}


/* Style jQuery Mobile ListView */
.ui-listview {
  .ui-btn-up-d {
	background: white;
  	font-weight: 100;
  }
  .ui-btn-hover-d {
	background: #F7F7F7;
  	font-weight: 100;
  }
  .ui-btn-down-d {
	background: #EEE;
  }
  .ui-btn-active {
	color: #000;
	border-top: 1px solid #bbb;
  }
  .ui-btn-active:visited, .ui-btn-active:hover, .ui-btn-active a.ui-link-inherit {
	color: #333;
	text-shadow: none;
  }
}

.ui-listview-inset {
  .ui-btn-active {
	border: 1px solid #bbb;
	border-bottom: 0;
  }
}


.edit-contest-problems {
  .js-widget-problem-quick-search {
	margin: 10px 2px 10px 10px;
  }
  .js-widget-edit-contest-problems {
	margin: 10px 10px 10px 2px;
  }
  .js-widget-problem-quick-search, .js-widget-edit-contest-problems {
	.ui-listview {
	  margin: 8px 0;
	  .ui-btn-text > a {
		padding: 5px 15px;
	  }
	}
  }
}